.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20rem;
  height: 100%;
}
.sidebar a {
  text-decoration: none;
  color: inherit;
}
/* Sidebar header */
.sidebar__header {
  padding: 1rem 1.25rem;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo_wrapper button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.25rem;
  cursor: pointer;
}

.sidebar__header img {
  width: 3rem;
  height: auto;
  object-fit: contain;
}

.sidebar_tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.75rem;
}

.sidebar_tabs a {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: var(--border-color);
  font-size: 1rem;
  line-height: 2.25rem;
  text-align: center;
  font-weight: 400;
}

.sidebar_tabs a.active {
  border-bottom-color: inherit;
  color: var(--primary);
  font-weight: 600;
}
/* Sidebar header end */

