.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20rem;
  height: 100%;
}
/* Sidebar header */
.sidebar__header {
  padding: 1rem 1.25rem;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Sidebar header end */

/* Mobile start */

.mobile_navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile_header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  gap: 1rem;
}

.mobile_header a {
  color: inherit;
}

:global(.menu_open) .mobile_header {
  border-bottom: none;
  padding-bottom: 0;
}

.mobile_menu_wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  flex: 1;
  overflow: hidden;
}

.menu_button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu_button svg {
  width: 1.125rem;
  height: 1.125rem;
}

.mobile_header_right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.mobile_header_right svg {
  width: 1.125rem;
  height: 1.125rem;
}

/* Mobile end */



