* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="dark"] {
  color-scheme: dark;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto;
  line-height: 1.5;
}

h1 {
  margin-bottom: 2.25rem;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

#__next,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 20rem auto;
}

main {
  padding: 1.75rem 3rem;
  max-width: 70vw;
  position: relative;
  z-index: 1;
}

a {
  color: var(--primary);
  font-weight: 700;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

a:hover {
  cursor: pointer;
}

ul,
ol {
  margin-left: 1.5rem;
}

ul {
  list-style-type: square;
}

:root[data-theme="light"] .sidebar__footer {
  box-shadow: 0.25rem 0.25rem 0.5rem var(--gray);
}

:root[data-theme="dark"] .sidebar__footer {
  background-color: var(--gray);
}

/* Mobile start */
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    display: block;
  }

  main {
    max-width: 100vw;
    padding: 5.625rem 1rem 1rem;
  }

  :is(.menu_open)+main {
    max-height: 0;
    overflow: hidden;
  }
}

/* Mobile end */