:root {
  --primary: #628ce1;
  --info: #1f3057;
  --success: #53a57c;
  --warning: #d09444;
  --danger: #f44336;
  --white: #f3f6f6;
  --black: #141d30;
  --gray: #727891;
  --gray-alpha: #72789133;
  --primary-alpha: #628ce17d;
  --bg-color: var(--white);
  --text-color: var(--info);
  --border-color: var(--gray);
  --white-bg: #fff;
}

[data-theme="dark"]:root {
  --bg-color: var(--black);
  --text-color: var(--white);
}
