:root {
  --primary: #628ce1;
  --info: #1f3057;
  --success: #53a57c;
  --warning: #d09444;
  --danger: #f44336;
  --white: #F3F6F6;
  --black: #1f3057;
  --gray: #727891;
  --gray-alpha: #72789133;
  --bg-color: var(var(--white));
  --text-color: var(--info);
  --border-color: var(--gray);
}

[data-theme="dark"]:root {
  --bg-color: var(--black);
  --text-color: var(--white);
}