.footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.footer a {
  color: inherit;
}

.footer svg {
  width: 1.25rem;
  height: 1.25rem;
}

.fb_link {
  margin-left: auto;
}
