.round_table_wrapper h2 {
  text-align: center;
}

.table_buttons_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.table_buttons_wrapper button {
  background-color: var(--gray);
  color: var(--white);
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
}

.table_buttons_wrapper button.active {
  background-color: var(--success);
}

.table_wrapper {
  overflow: auto;
}

.table {
  min-width: 768px;
  overflow-x: auto;
}

.table td {
  padding: 1rem;
}
