.menu_tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 0.75rem;
}

.menu_tabs a {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: var(--border-color);
  font-size: 1rem;
  line-height: 2.25rem;
  text-align: center;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.menu_tabs a.active {
  border-bottom-color: inherit;
  color: var(--primary);
  font-weight: 600;
}